################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DalJDT/bin/Debug
/DalJDT/obj/Debug/edmxResourcesToEmbed
/DalJDT/obj/Debug
/JDT/bin
/JDT/obj
/JDT/Properties/PublishProfiles
/WcfJDT
